/* body {
    margin: 0;
}

.overlay{
    width : 105%;
    height: 105%;
    background-color:rgba(0, 0, 0, 0.6);
    position: fixed;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
} */

body {
  margin: 0;
  overflow: hidden; 
}

.overlay {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0; 
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
